mitmproxy 使用笔记

## 删除掉通过 pip -e 安装的 mitmproxy

* `cd /usr/local/lib/python3.5/dist-packages`

* `rm mitmproxy.egg-link`

* `sudo vi easy-install.pth`

  删除掉下面这行：
  
  `/mnt/c586cf79-dfc3-4125-9bb4-63883aa3e28c/20170823_mitmproxy/mitmproxy`

* `rm mitmproxy mitmweb mitmdump`

### 参考文献

* [How to uninstall editable packages with pip (installed with -e) - Stack Overflow](https://stackoverflow.com/questions/17346619/how-to-uninstall-editable-packages-with-pip-installed-with-e)

  > At {virtualenv}/lib/python2.7/site-packages/ (if not using virtualenv then {system_dir}/lib/python2.7/dist-packages/)

  > * remove the egg file (e.g. distribute-0.6.34-py2.7.egg) if there is any
  
  > * from file easy-install.pth, remove the corresponding line (it should be a path to the source directory or of an egg file).

* [How do I detect and remove Python packages installed via pip? - Ask Ubuntu](https://askubuntu.com/questions/173323/how-do-i-detect-and-remove-python-packages-installed-via-pip)

  > Ubuntu Oneiric (and I expect newer versions too) install pip packages to /usr/local/lib/python2.7/dist-packages, and apt packages to /usr/lib/python2.7/dist-packages. So just check the former directory and sudo pip uninstall every package you find there.

## 配置文件

* 位置

  `~/.mitmproxy/`
  
## 使用技巧

* 同时截获请求和响应。

  `~q | ~s`
  
* 只截获请求。

  `~q`
  
* 只截获响应。

  `~s`
  
* 只截获响应，并且不截获 CSS, Javascript, Flash, images 的响应。

  `~s !~a`
  
* [The default binary operator is &.](http://docs.mitmproxy.org/en/stable/features/filters.html#filters)

## 参考文献

* [mitmproxy - home](https://mitmproxy.org/)

* [mitmproxy/mitmproxy: An interactive TLS-capable intercepting HTTP proxy for penetration testers and software developers.](https://github.com/mitmproxy/mitmproxy)

* [Modifying responses · Issue #433 · mitmproxy/mitmproxy](https://github.com/mitmproxy/mitmproxy/issues/433)

  > For example, you can press I, add ~s !~a as filter (intercept all responses that are not assets). 

## 为 mitmproxy 设置 Firefox 的证书

* 启动 mitmproxy 并设置为 SOCKS5 代理模式。

  `./mitmproxy --socks -b 127.0.0.1`

* 设置 Firefox 的 SOCKS5 代理为：`127.0.0.1:8080`。

* 在 Firefox 中访问 http://mitm.it/

  ![](https://trello-attachments.s3.amazonaws.com/58fe8d8e9c11133836a5a811/599e0cf874efb4ec8d9615b0/18e5bfd2b3a70329a0092a7f81985b0f/image.png)

  点击 Other > 在弹出的对话框中选中 Trust this CA to identify websites. > 点击 OK。

  ![](https://trello-attachments.s3.amazonaws.com/58fe8d8e9c11133836a5a811/599e0cf874efb4ec8d9615b0/ef6e9705f4916bdd26a22bed8a020ade/image.png)

* 删除 mitmproxy 的证书。

  * ![](https://trello-attachments.s3.amazonaws.com/58fe8d8e9c11133836a5a811/599e0cf874efb4ec8d9615b0/520a7061df4743cb192e1fd780647159/image.png)
  
  * ![](https://trello-attachments.s3.amazonaws.com/58fe8d8e9c11133836a5a811/599e0cf874efb4ec8d9615b0/ae85ff1601e9f0389d989782dab3a992/image.png)
  
## mitmproxy 和 mitmweb

* mitmproxy is an interactive, SSL-capable intercepting proxy with a console interface.

  `./mitmproxy --socks -b 127.0.0.1`

* mitmweb is a web-based interface for mitmproxy.

  `./mitmweb --socks -b 127.0.0.1`

  ```
  Proxy server listening at http://127.0.0.1:8080/
  Web   server listening at http://127.0.0.1:8081/
  ```

```
--socks               Set SOCKS5 proxy mode.
-b ADDR, --bind-address ADDR
```

`--socks` 是代理模式（Proxy Modes）中的一个参数。
`-b` 是代理选项（Proxy Options）中的一个参数。

mitmproxy 和 mitmweb 的大部分参数都是一样的，只是 mitmweb 对于 mitmproxy 多加了一个 Web 接口。

mitmproxy 和 mitmweb 的一个比较大的缺点是在 Response 中都没有 Content-Length 这个 header 的数据。

Chrome 的 Developer tools > Network 中也是没有 Content-Length 这个 header 的数据的。目前确定的是 Fiddler 中是有这个数据的。

Tamper Chrome 整体的水平也比 Fiddler 落后很多，尤其是在交互设计上。

不得不说，Fiddler 仍然是目前最好的 HTTP Debug 工具。

mitmproxy 的优点在于它的开源和开放接口。

mitmproxy 是 Fiddler 的有益的补充。

Fiddler 的另外一个优势是在设置为系统代理截获所有请求的时候可以访问那些被墙的网站；Chrome 也可以这样，但是 mitmproxy 要想做到这样可能就要费一些功夫，做一番配置了。

## 为什么 mitmproxy 和 Chrome 的 Network 中在没有 Content-Length 的时候，而 Fiddler 中却有 Content-Length 呢？

* 首先，并不是在所有的情况下 mitmproxy 和 Chrome 的 Network 中都没有 Content-Length 的。

  只有在 Transfer-Encoding: chunked 的时候，mitmproxy 和 Chrome 的 Network 中是没有 Content-Length 的。
  
  参考示例如下。
  
  Request URL: https://www.httpwatch.com/httpgallery/chunked/chunkedimage.aspx

  Fiddler:
  
  ```
  HTTP/1.1 200 OK
  Cache-Control: no-cache, no-store
  Pragma: no-cache
  Content-Type: image/jpeg; charset=utf-8
  Expires: -1
  Server: Microsoft-IIS/8.0
  X-AspNet-Version: 4.0.30319
  X-Powered-By: ASP.NET
  Arr-Disable-Session-Affinity: True
  Date: Fri, 25 Aug 2017 01:59:26 GMT
  Content-Length: 33653
  ```
  
  Chrome > Network:
  
  ```
  HTTP/1.1 200 OK
  Cache-Control: no-cache, no-store
  Pragma: no-cache
  Transfer-Encoding: chunked
  Content-Type: image/jpeg; charset=utf-8
  Expires: -1
  Server: Microsoft-IIS/8.0
  X-AspNet-Version: 4.0.30319
  X-Powered-By: ASP.NET
  Arr-Disable-Session-Affinity: True
  Date: Fri, 25 Aug 2017 01:04:46 GMT
  ```
  
  mitmproxy:
  
  ```
  HTTP/1.1 200 OK
  Cache-Control: no-cache, no-store
  Pragma: no-cache
  Transfer-Encoding: chunked
  Content-Type: image/jpeg; charset=utf-8
  Expires: -1
  Server: Microsoft-IIS/8.0
  X-AspNet-Version: 4.0.30319
  X-Powered-By: ASP.NET
  Arr-Disable-Session-Affinity: True
  Date: Fri, 25 Aug 2017 01:49:57 GMT
  ```

* 那为什么会出现上面这种情况呢？

  因为 Transfer-Encoding 和 Content-Length 是不能同时存在的。
  
  [RFC 2616, Section 4.4](http://greenbytes.de/tech/webdav/rfc2616.html#rfc.section.4.4)
  
  > If a Content-Length header field (Section 14.13) is present, its decimal value in OCTETs represents both the entity-length and the transfer-length. The Content-Length header field must not be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present). If a message is received with both a Transfer-Encoding header field and a Content-Length header field, the latter must be ignored.

  其实 mitmproxy 和 Chrome 中 的 Netowrk 是遵守 HTTP 协议的做法；而 Fiddler 是根据用户的需要而做的改变。

* 参考文献

  * [Chunked transfer encoding - Wikipedia](https://en.wikipedia.org/wiki/Chunked_transfer_encoding)

    > Chunked transfer encoding allows a server to maintain an HTTP persistent connection for dynamically generated content. In this case, the HTTP Content-Length header cannot be used to delimit the content and the next HTTP request/response, as the content size is as yet unknown.

  * [transfer-encoding chuncked not content-length - Google Search](https://www.google.com/search?newwindow=1&q=transfer-encoding%20chuncked%20not%20content-length&cad=h)
  
    * [9. Content Length & Transfer Encoding](https://www.httpwatch.com/httpgallery/chunked/)
    
    * [transfer-encoding: chunked with content-length header does not de-chunk](https://github.com/ninenines/gun/issues/92)
    
    * [Chunked encoding and content-length header](https://stackoverflow.com/questions/3304126/chunked-encoding-and-content-length-header)

  
## 参考文献

* [Mitmproxy: Your D.I.Y. Private Eye – Max Greenwald – Medium](https://medium.com/@maxgreenwald/mitmproxy-your-d-i-y-private-eye-864c08f84736)

  下面是在 Firefox 中删除证书的方法：

  > You might have to delete the Certificate and try again. Under Advanced > Certificates > View Certificates > Authorities and scroll down and delete the Mitmproxy certificate. Go to mitm.it and try again.

* [MozillaRootCertificate](https://wiki.mozilla.org/MozillaRootCertificate#Mozilla_Firefox)

  > Firefox uses its own Certificate Manager.
